body {
  background-color: white;
}

.state-red {
  background-color: orangered;
}

.state-green {
  background-color: lightgreen;
}

.state-gray {
  background-color: lightgray;
}

.state-yellow {
  background-color: lightyellow;
}
